.user-name {
  font-size: 18px;
}

.twitter-handle {
  font-size: 14px;
}

.tweet {
  height: 100%;
  position: absolute;
  top: 40%;
}

.small-tweet {
  height: 100%;
  position: absolute;
  top: 40%;
  font-size: 12px;
}

.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail:hover .caption {
    top:0%;
}

.thumbnail-movies {
    min-height:322px;
    height:322px;
}

.movie-info {
    padding-top: 10px;
}

.movie-cast {
    padding-top: 10px;
}

.vertically-centered {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-center {
    text-align: center;
    font-size: 40px;
}

.text-40 {
    font-size: 40px;
}

.positive mark{
    background-color: #2ecc40;
}

.positive {
    color: #000;
    background: #2ecc40;
}

.neutral mark{
    background-color: #0074d9;
}

.neutral {
    color: #000;
    background: #0074d9;
}

.negative mark{
    background-color: #ff4136;
}

.negative {
    color: #000;
    background: #ff4136;
}

.label-positive {
  background-color: #5cb85c;
}
.label-positive[href]:hover,
.label-positive[href]:focus {
  background-color: #449d44;
}

.label-neutral {
  background-color: #5bc0de;
}
.label-neutral[href]:hover,
.label-neutral[href]:focus {
  background-color: #31b0d5;
}

.label-negative {
  background-color: #d9534f;
}
.label-negative[href]:hover,
.label-negative[href]:focus {
  background-color: #c9302c;
}

.list-group-item-positive {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-positive {
  color: #3c763d;
}
a.list-group-item-positive .list-group-item-heading {
  color: inherit;
}
a.list-group-item-positive:hover,
a.list-group-item-positive:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-positive.active,
a.list-group-item-positive.active:hover,
a.list-group-item-positive.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.list-group-item-neutral {
  color: #31708f;
  background-color: #d9edf7;
}
a.list-group-item-neutral {
  color: #31708f;
}
a.list-group-item-neutral .list-group-item-heading {
  color: inherit;
}
a.list-group-item-neutral:hover,
a.list-group-item-neutral:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.list-group-item-neutral.active,
a.list-group-item-neutral.active:hover,
a.list-group-item-neutral.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.list-group-item-negative {
  color: #a94442;
  background-color: #f2dede;
}
a.list-group-item-negative {
  color: #a94442;
}
a.list-group-item-negative .list-group-item-heading {
  color: inherit;
}
a.list-group-item-negative:hover,
a.list-group-item-negative:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-negative.active,
a.list-group-item-negative.active:hover,
a.list-group-item-negative.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}